@import 'variables';

.group-list-container {
    text-align: center;

    .input-container {
        width: 100%;
        input {
            background-color: $lighter-grey;
            color: $bg-color;
            border: 1px solid $bg-color;
            border-radius: 10px;
            width: 80%;
            
            @media (orientation: portrait) {
                display: none;
            }
        }
    }

    table.list {
        border-collapse: collapse;
        width: 100%;
        // not selectable
        user-select: none; /* CSS3 (little to no support) */
        -ms-user-select: none; /* IE 10+ */
        -moz-user-select: none; /* Gecko (Firefox) */
        -webkit-user-select: none; /* Webkit (Safari, Chrome) */

        tr.group-done-separator {
            width: 100%;
            height: fit-content;
            padding: 100px 0;
            td {
                width: 100%;
                padding: 10px 0;
                font-size: 12px;
                color: $lighter-grey;
                background-color: $main-blue;
            }
        }

        tr.around-separator {
            height: 5px;
        }
    }
}