$bg-color: #18191a;
$dark-grey: #2A2A2E;
$light-grey: #BABABB;
$lighter-grey: #E7E7E7;
$main-blue: #0079BF;
$dark-blue: #083148;
$main-red: #8c343a;
$main-green: #348c38;
$light-red: #e5323e;

@font-face {
    font-family: 'Montserrat Light';
    src: url("~@/assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

$small-width: 1000px;