@import 'variables';

form.add-form {
    display: flex;
    flex-wrap: wrap;

    input, select {
        width: 45%;

        &#name {
            width: 75%;
        }
        &#number {
            width: 15%;
        }
        &#color {
            width: 40px;
            height: 40px;
            border: none;
            margin: 0;
        }
    }

    .submit-container {
        width: 100%;
    }

    .color-container {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        @media (orientation: portrait) {
            input#color {
                width: 40px !important;
            }
        }
    }

    .constraint-container {
        width: 100%;

        button {
            font-size: 12px;
            background-color: $light-grey;
            border: none;
            color: $bg-color;

            &:hover {
                cursor: pointer;
            }
        }

        .check-constraint {
            width: 100%;
            position: relative;
            
            .checkbox {
                width: fit-content;
                text-align: right;
                .checkmark {
                    top: 10px !important;
                }
            }

            #constraint-number {
                width: 15%;
                position: absolute;
                top: -7px;

                @media (orientation: portrait) {
                    position: relative;
                }
            }
        }
    }
}