@import 'variables';

$card-size: 200px;

a {
    text-decoration: none;
}

.card {
    width: $card-size;
    background-color: $dark-grey;
    margin: 10px 20px;
    border-radius: 10px 10px 0 0;
    color: $lighter-grey;
    text-align: center;
    text-decoration: none;
    position: relative;

    p.title {
        color: $dark-grey;
        background-color: $lighter-grey;
        border-radius: 10px 10px 0 0;
        padding: 20px 0;
        font-size: 18px;
    }

    p.desc, div.slot {
        padding-bottom: 35px;
        &.desc {
            font-size: 12px;
        }
        &.slot {
            margin-top: 10px;
        }
    }

    button.del {
        color: $dark-grey;
        background-color: $main-red;
        position: absolute;
        border: none;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 5px 0;
        font-size: 11px;
        color: $light-grey;
        transition: background-color .3s, color .3s;

        &:hover {
            cursor: pointer;
            color: white;
            background-color: $light-red;
        }
    }
}