@import 'variables';

$header-height: 10vh;

.event-plan-container {
    display: flex;
    flex-wrap: nowrap;

    .group-list{
        width: 20%;
        min-width: 200px;
        border: 1px solid $light-grey;
        border-top: 0;
        border-bottom: 0;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        
        /* Hide scrollbar for IE and Edge */
        -ms-overflow-style: none;
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
        
        @media only screen and (max-width: $small-width) {
            min-width: 70px;
        }
        @media (orientation: portrait) {
            height: calc(100vh - 50px); // le menu en haut
        }
    }

    .plan-container {
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        flex: 1; // occupe tout l'espace restant
        
        @media (orientation: portrait) {
            max-height: calc(100vh - 50px); // le menu en haut
        }

        .event-plan-header {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            height: $header-height;

            /deep/ .main-btn {
                font-size: 15px;
                letter-spacing: 1px;
            }

            .generate {
                background-color: $lighter-grey;
                padding: 10px;
                border-radius: 30px;
                border: 0;
                font-size: 15px;
                letter-spacing: initial;

                i {
                    margin-right: 5px;
                }
            }

            .suppr-groups {
                color: $main-red;
                border: 1px solid $main-red;
                font-size: 12px;
                letter-spacing: initial;
                &:disabled {
                    background-color: rgba(255, 255, 255, .6);
                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }

            @media only screen and (max-width: $small-width) {
                .allow-small {
                    position: relative;
                    width: 25px !important;
                    height: 25px !important;
                    i {
                        margin: auto;
                        width: 100%;
                        top: 5px;
                        position: absolute;
                        left: 0;
                    }
                }
                .saved {
                    padding: 0 !important;
                }
            }
        }
        .plan {
            $padding-bottom: 50px;
            padding-bottom: $padding-bottom;
            height: calc(100vh - #{$header-height} - #{$padding-bottom});
            overflow: auto;
        }
    }
}