@import 'variables';

$header-height: 10vh;

.event-plan-container {
    display: flex;
    flex-wrap: nowrap;

    .group-list{
        width: 20%;
        min-width: 200px;
        border: 1px solid $light-grey;
        border-top: 0;
        border-bottom: 0;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        
        /* Hide scrollbar for IE and Edge */
        -ms-overflow-style: none;
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
        
        /deep/ div.number-container {
            width: 35px;
            min-height: 35px;
            p {
            font-size: 12px;
            }
        }
        /deep/ td.name-container {
            max-width: 90px;
        }
    }

    .plan-container {
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        flex: 1; // occupe tout l'espace restant

        .event-plan-header {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            height: $header-height;

            /deep/ .main-btn {
                font-size: 15px;
                letter-spacing: 1px;
            }

            .saved, .generate {
                background-color: $lighter-grey;
                padding: 10px;
                border-radius: 30px;
                border: 0;
                font-size: 15px;
                letter-spacing: initial;

                &.saved {
                    width: 150px;
                    text-align: center;
                }

                i {
                    margin-right: 5px;
                }
            }
        }
        .plan {
            $padding-bottom: 50px;
            padding-bottom: $padding-bottom;
            height: calc(100vh - #{$header-height} - #{$padding-bottom});
            overflow: auto;
        }
    }
}