@import 'variables';

tr.group-data {
    width: 100%;
    border-bottom: 1px solid $lighter-grey;
    opacity: 0.75;

    &:hover {
        background-color: $dark-grey;
        cursor: pointer;
    }
    &.selected {
        font-weight: 700;
        opacity: 1;
        border-left: none;
        border-right: none;
        color: red;
    }

    td {
        color: $lighter-grey;
        padding: 10px 0;

        &.name-container {
            overflow: hidden;
            margin-right: 10px;
        }

        p.name {
            width: fit-content;
            max-width: 100%;
            margin: 0 auto;
        }
        p.constraint {
            font-size: 10px;
            font-weight: initial;
            color: white;
            background-color: $main-red;
            border: 1px solid $main-red;
            width: fit-content;
            margin: auto;
            padding: 1px 4px;
            border-radius: 10px;
            border: 1px solid $bg-color;
        }

        .number-container {
            margin: 0 auto;
        }
        .number-success {
            background-color: $main-green;
        }
        .number-error {
            background-color: $main-red;
        }
    }
}
