@import 'variables';

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Montserrat Light';
    // SCROLLBAR
    &::-webkit-scrollbar {
        max-width: 10px;
        max-height: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $lighter-grey; 
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $light-grey; 
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $light-grey; 
    }
}

// GENERAL
html {
    background-color: $bg-color;
}

.main-btn {
    color: $bg-color;
    background-color: rgba(255,255,255,.7);
    padding: 10px;
    border-radius: 30px;
    border: 0;
    font-size: 25px;
    letter-spacing: 3px;
    transition: background-color .5s;
    position: relative;

    &.small-btn {
        padding: 2px;
        border-radius: 5px;
        font-size: 15px;
        letter-spacing: initial;
    }
    &.del-btn {
        border: 1px solid $main-red;
        color: $main-red;
    }

    @media (orientation: portrait) {
        font-size: 15px;
        letter-spacing: 1px;
        background-color: rgba(255,255,255,.9);
    }

    &.little-info-btn {
        width: 25px;
        height: 25px;
    }
    i {
        margin-right: 10px;
        &.i-only-center {
            margin: auto;
            width: 100%;
            top: 5px;
            position: absolute;
            left: 0;
        }
    }
    
    &:hover {
        background-color: rgba(255,255,255,.9);
        cursor: pointer;
    }
}

hr {
    width: 80%;
    margin: 10px auto;
    border: none;
    border-bottom: 1px solid $lighter-grey;
}

.bloc-info {
    background: $main-blue;
    color: $lighter-grey;
    width: 50%;
    text-align: center;
    margin: 50px auto;
    padding: 18px;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
}

div.number-container {
    background: $main-blue;
    width: 50px;
    min-height: 50px;
    margin: 15px auto;
    position: relative;
    border-radius: 100%;

    p.number {
        position: absolute;
        top: 50%;
        text-align: center;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        font-size: 20px;
    }
}

// TRANSITIONS
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}