@import 'variables';

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Montserrat Light';
}

// GENERAL
html {
    background-color: $bg-color;
}

.btn-lg {
    color: $bg-color;
    background-color: rgba(255,255,255,.7);
    padding: 10px;
    border-radius: 30px;
    border: 0;
    font-size: 25px;
    letter-spacing: 3px;
    transition: background-color .5s;
    
    i {
        margin-right: 10px;
    }
    
    &:hover {
        background-color: rgba(255,255,255,.9);
        cursor: pointer;
    }
}

hr {
    width: 80%;
    margin: 10px auto;
    border: none;
    border-bottom: 1px solid $lighter-grey;
}

.info {
    background: $main-blue;
    color: $lighter-grey;
    width: 50%;
    text-align: center;
    margin: 50px auto;
    padding: 18px;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
}

// TRANSITIONS
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}