@import 'variables';

td {
    white-space: nowrap;
    overflow: hidden;
    // not selectable
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
    font-size: 10px;
    $transition-time: .3s;
    transition: min-width $transition-time,
                width $transition-time,
                max-width $transition-time,
                min-height $transition-time,
                height $transition-time,
                max-height $transition-time;

    @media (orientation: portrait) {
        font-size: 7px;
    }

    .drop {
        height: 100%;
        .drag {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    p {
        width: 100%;
        text-align: center;
    }

    &:hover {
        cursor: pointer;
    }

    &.forbidden:hover {
        cursor: initial;
    }
}